In [2]:
import mymodule as mm

In [3]:
mm.var2

'คิดถึงคังแดเนียล'

In [4]:
mm.var1

100

In [5]:
a = [1,2,3]

In [10]:
b = a  #referance

In [11]:
b

[8, 2, 3]

In [12]:
b[0] = 8

In [9]:
a

[8, 2, 3]

In [14]:
8 in a

True

In [15]:
9 in a

False

In [17]:
for x in a:
    print(x)

8
2
3

In [20]:
$x \in [1,10]$

SyntaxError: invalid syntax (<ipython-input-20-44bae36eacca>, line 1)

In [ ]:
while 1:
    print(x)

In [22]:
from mymodule import var1

In [23]:
var1

100

In [25]:
if 1:
    print(1)
    print(2)

1
2

In [28]:
if (1<2):
    print('True')

True

In [30]:
3;4

4

In [31]:
a = 1
b = 2
print(a + b) #three statements on one line

3

In [33]:
mylist = (1111,
         2222,
         333,
         5)    #สามารถจับแยกเป็นหลายๆแถวได้

In [35]:
mylist

(1111, 2222, 333, 5)

In [36]:
a = 'i love  \
dan eiei'        #ตัวหนังสือแยกได้แต่ต้องใช้ \ เพื่อให้รู้ว่ามีต่อข้างล่าง

In [37]:
a

'i love  dan eiei'

In [40]:
'i love \
my peach'

'i love my peach'

In [42]:
x = 'killer rabbit' 
if x == 'roger': 
    print("shave and a haircut") 
elif x == 'bugs': 
    print("what's up doc?") 
else: 
    print('Run away! Run away!')

Run away! Run away!

In [47]:
c = -10
a = 1 if c >= 0 else -1
a

-1

In [49]:
x = 0 
while x < 10:
    x += 1
    print(x)
    pass
else:
    print('Stop at x = ',x)

1
2
3
4
5
6
7
8
9
10
Stop at x =  10

In [63]:
x = 10
while x:
    x = x-1
    if x % 2 !=0: continue
        print(x, end=' ')

IndentationError: unexpected indent (<ipython-input-63-d47760d4afa6>, line 5)

In [66]:
x = 10
while x:
    x = x-1
    if x % 2 ==0:
        print(x, end=' ')

8 6 4 2 0

In [64]:
 while True: 
        name = input('Enter name:')           # Use raw_input() in 2.X
        if name == 'stop': break
        age  = input('Enter age: ') 
        print('Hello', name, '=>', int(age) ** 2)

Enter name:stop

In [65]:
sum = 0 
for number in range(11):
    sum += number**2
sum

385

In [67]:
 D = {'a': 1, 'b': 2, 'c': 3} 
for key in D: 
    print(key, '=>', D[key])  # Use dict keys iterator and index

a => 1
b => 2
c => 3

In [68]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
a = '0123456789'  #เลข0คือตำแหน่ง0

In [73]:
a[2:5]  #ตัวที่2-5ไม่รวมตัวสุดท้าย

'234'

In [74]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]